<div>
  <!-- Navbar -->
  <app-sidebar></app-sidebar>
</div>

<div>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#designationModal"
    (click)="ClearForm()">
    Add Designation
  </button>

  <!-- Modal for adding designation -->
  <div class="modal fade" id="designationModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Designation</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <form [formGroup]="designationForm" #f="ngForm">
            <fieldset>
              <div class="form-group">
                <label for="designationName">Name</label>
                <input class="form-control" [(ngModel)]="designation.designationName" type="text" id="designationName"
                  formControlName="designationName" />
              </div>
            </fieldset>

            <fieldset>
              <div class="form-group">
                <label for="designationCompany">Company</label>
                <select class="form-control" [(ngModel)]="designation.companyId" id="companyId"
                  formControlName="companyId">
                  <option *ngFor="let c of companies" [value]="c.CompanyId">{{c.CompanyName}}</option>
                </select>
              </div>
            </fieldset>
          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn" data-dismiss="modal" (click)="AddUpdateDesignation()"
            [disabled]="!f.valid">Submit</button>
        </div>

      </div>
    </div>
  </div>

  <!-- Table for showing records -->
  <div class="container-fluid">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Company</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of designations">
          <td>{{d.DesignationName}}</td>
          <td>{{d.CompanyName}}</td>
          <td><a (click)="EditDesignation(d)" data-toggle="modal" data-target="#designationModal"><i
                class="far fa-edit"></i></a></td>
          <td><a (click)="DeleteDesignation(d.DesignationId)"><i class="fas fa-eraser"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>